body {
    background-color: #5cdb95;
}

h1 {
    color: #edf5e1;;
    font-weight: bold;
}

h2 {
    color: #edf5e1;;
}

a {
    color: inherit;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }