{% extends "base.html" %}
{% set active_page = "numero" %}

{% block title %}Adivinha o Número{% endblock title %}

{% block content %}

<h1>Jogo dos Números</h1>
<p>Neste jogo deves escolher um número de 1 a 10!</p>
<p>Vamos ver se és calhar de o adivinhar no minimo de tentativas possiveis</p>

<form method="POST" action="/numero">
    <div class="form-group">
        <input type="number" name="tentativa" min="1" max="10" placeholder="1 a 10" value="tentativa"> <button type="submit" class="btn btn-primary btn-sm">Validar</button>
    </div>
</form>

{% endblock content %}